<img class="home-background" src="/assets/water.png">

<div class="navbar">
  <a href="#">
    <img class="logo"src="http://i.imgur.com/Y2xcsca.png">
  </a>
</div>

<!-- <div class="home-quote">
  <h2>
    "The more you know, the farther you go..."
  </h2>
</div> -->
