<div class="navbar">
  <a href="#">
    <img class="logo"src="http://i.imgur.com/Y2xcsca.png">
  </a>
</div>
<div class="atlas-map"></div>
<div class="country-destinations"></div>
<div class="country-info"></div>

<form class="search-bar" id="auto">
  <span><input type="text" name="countryname" id="autocomplete" class="search rounded" placeholder="Country..."></span>
</form>

<a class="github-logo" href="https://github.com/dgrotting/AtlasNomad"><img class="github-logo" src="/assets/github_logo.png"></a>

<button type="button" class="language-filter">English</button>
<button type="button" class="visa-filter">Visa</button>
<button type="button" class="gdp-filter">Home</button>
