<div class="atlas-map"></div>
<div class="country-info"></div>
<form class="search-bar" id="auto">
  <span><input type="text" name="countryname" id="autocomplete" class="search rounded" placeholder="Search..."></span>
</form>
