<div class="destinations-div">
<% destinations.each do |destination| %>
    <h4><%= destination.name %></h4>
    <h4><%= destination.desc %></h4>
    <h4><%= destination.pic %></h4>
<% end %>

</div>
