<div class="atlas-map"></div>
<div class="country-info"></div>
<div class="country-search">
  <form >
    <input type="text" placeholder="Search..." required>
    <input type="button" value="Search">
  </form>
</div>