<div class="destinations-div">
  <h3>Top Destinations:</h3>
  <ol>
    <% destinations.each do |destination| %>
        <li>
          <h4><u>
            <%= destination.name %>
          </u></h4>
        </li>
        <p>
          <%= destination.desc %>
        </p>
    <% end %>
  </ol>
</div>