<div class="destinations-div">
<% destinations.each do |destination| %>
    <h2><%= destination.name %></h2>
    <h2><%= destination.desc %></h2>
    <h2><%= destination.pic %></h2>
<% end %>

</div>
