<div class="destinations-div">

  <% if images.length >= 1 %>
    <div class="image-conatiner">
      <div class="image-carousel">
        <% images.each do |image| %>
          <div>
            <img class="country-image" src="<%= image.url %>">
            <h2 class="img-desc"><%= image.desc %></h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if destinations.length >= 1 %>

    <div class="destination-list">

      <h3>Top Destinations:</h3>
      <ul>
        <% destinations.each do |destination| %>
            <li>
              <h4>
                <%= destination.name %>
              </h4>
            </li>
            <p>
              <%= destination.desc %>
            </p>
        <% end %>
      </ul>

  </div>


    <% else %>

      <div class="no-destinations">

        <img class="small-logo" src="/assets/atlasnomad_small_logo.png">

        <h3>Atlas Nomad is working hard to find destinations for this country...check again soon!</h3>

      </div>

    <% end %>

</div>