input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.atlas-map {
  height: 100%;
  width: 100%;
  position:absolute;
}

.jvectormap-marker {
  width: 5;
  height: 5;
}
.color-filter {
  margin: 5px;
}

.destinations-div {
  overflow: hidden;
}

.destinations-div ul {
  margin: 40px;
  margin-top: 0px;
  padding: 0;
}

.destinations-div h4 {
  margin-bottom: 0px;
}

.destinations-div p {
  margin: 0px;
}

.info-div h4 {
  margin-bottom: 0px;
}

.info-div p {
  margin: 0px;
}

.country-destinations {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height:100%;
  width:30%;
  position:absolute;
  right: -2000px;
  background-color: white;
  z-index: 2;
  box-shadow: -2px 0px 100px black;
  margin: 0px;
  overflow-y:auto;
  opacity: 0.95;
}

.country-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height:100%;
  width:30%;
  position:absolute;
  left: -2000px;
  background-color: white;
  z-index: 2;
  box-shadow: -2px 0px 100px black;
  margin: 0px;
  overflow-y:auto;
  opacity: 0.95;
}

.info-div {
  // margin: 40px;
}

.travel-info {
  padding: 40px;
  padding-top: 10px;
}

.country-partial {
  padding: 1em;
}

.flag {
  display: inline-block;
  width: 125px;
  padding:1px;
  border:1px solid #021a40;
  background-color:#f8fff6;
}

.country-info h2 {
  margin: 0;
}

.country-info h4 {
  margin-bottom: 0;
}

.country-info p {
  margin-top: 0;
}

.navbar {
  box-shadow: -2px 0px 20px gray;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: white;
}

.logo {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.github-logo {
  position: absolute;
  width: 50px;
  z-index: 1;
  margin: 20px;
  bottom: 0;
  right: 0;
}

.github-logo:hover {
  opacity: .5;
}

.home-background {
  width: 100%;
}

.slide {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 10px;
}

.slide .inner {
  opacity: .9;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color:#e4e4e4;
  border-radius: 0px 5px 0px 0px;
  display: none;
}

.filter-slide-button {
  opacity: .9;
  padding: 10px;
  border:2px solid #e4e4e4;
  border-radius: 5px 5px 0px 0px;
  background-color:#e4e4e4;
  color:#1195ee;
  font-size: 1em;
}

.inner button {
  border:2px solid #1195ee;
  border-radius: 5px;
  background-color:#fafafa;
  color:#1195ee;
  font-size: .9em;
}

.language-filter {
  margin: 5px;
}

.alert-icon {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visa-filter {
  margin: 5px;
}

.gdp-filter {
  margin: 5px;
}

.search-bar {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  margin: auto;
}

.search {
  padding:8px 15px;
  background:#dbdbdb;
  border:0px solid #dbdbdb;
  border-radius: 5px;
}

.search-button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #1195ee;
  border-radius: 5px;
  background-color:#fafafa;
  color:#1195ee;
}


.ui-autocomplete {
  max-height: 200px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.country-image {
  max-height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-carousel {
  // background-image: url("http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif");
  min-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-desc {
  align: center;
}

.centered-flag-and-info {
  margin: auto;
  padding-top: 20px;
}

.flag-and-name {
  text-align: center;
  min-height: 300px;
  border-bottom: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* W3C */
}


li {
  list-style-type: none;
}

h3 {
  text-align: center;
}

p.img-desc {
    position: absolute;
    top: 15%;
    color: #FFF;
    word-wrap: break-word;
    font-size: 1.5em;
    width: 80%;
    padding-left: 40px;
    text-shadow: 2px 2px 5px #333;
}
